:root {
    font-family: 'Segoe UI';
    font-family: 'Lilita One';
    box-sizing: border-box;

    --moonBlack: #101010;
    --moonWhite: #f0f0f0;
    --moonPurple: #ae76e6;
    --moonGreen: #81a472;
    --moonBrown: #6e5637;
    --moonOrange: #c47d1b;
    --moonRed: #b1372f;
    --moonGray: #afafaf;

    --moonFontSize1: 44px;
    --moonFontSize2: 24px;
    --moonFontSize3: 14px;

    --moonWidth1: 1080px;
    --moonWidth2: 768px;
    --moonWidth3: plm;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#topBarContainer {
    display: grid;
    grid-template-columns: 1fr var(--moonWidth1) 1fr;
    background-color: var(--moonWhite);
    /* width: 100%; */
}

#topBar {
    /* Positioning */
    grid-column: 2;
    display: flex;

    /* Style */
    width: var(--moonWidth1);
    background-color: inherit;
    padding: 5px 0;
}

#topBar > #logo {
    /* Positioning */
    display: flex;
    justify-content: left;
    /* Style */
    flex: 1;
    font-weight: 900;
    font-size: var(--moonFontSize1);
    font-family: 'Lilita One';
    /* background-color: pink; */
}

#topBar > #searchBar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: greenyellow; */
}

#searchBar > #searchInput {
    height: 40px;
    width: 400px;
    padding: 0 25px 0 25px;
    border-radius: 50px 0 0 50px;
    font-size: var(--moonFontSize3);
    border: 1px var(--moonBlack) solid;
    border-right: 0px;
    box-sizing: border-box;
}

#searchInput:focus {
    outline: none;
}

#searchBar > button {
    height: 40px;
    border-radius: 0 50px 50px 0;
    border: 1px var(--moonBlack) solid;
    border-left: 0;
}

#searchBar > button > img {
    height: 35px;
    width: auto;
}

#topBar > #cart {
    flex: 1;
    display: flex;
    justify-content: right;
}

#cartBtn {
    border: 0;
    position: relative;
}

#bubble {
    background-color: var(--moonRed);
    width: 25px;
    height: 25px;
    position: absolute;
    left: -10px;
    bottom: -10px;
    border-radius: 25px;
    font-size: var(--moonFontSize3);
    color: var(--moonWhite);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

/** Nav Bar  */

#navContainer {
    background-color: var(--moonBlack);
    display: grid;
    grid-template-columns: auto var(--moonWidth1) auto;
    width: 100%;
}

#navContainer > nav {
    grid-column: 2;
}

#navContainer > nav > ul {
    display: flex;
    width: 100%;
    color: var(--moonWhite);
    justify-content: space-between;
}

nav > ul > li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
}

nav > ul > li:hover {
    background-color: var(--moonWhite);
    color: var(--moonBlack);
}

/* Dropdown */

nav > ul > li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}

nav > ul > li:hover > ul {
    display: block;
}

/* Elements of dropdown */
nav > ul > li > ul > li {
    background-color: var(--moonBlack);
    color: var(--moonWhite);
    height: 30px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > ul > li > ul > li:hover {
    background-color: var(--moonWhite);
    color: var(--moonBlack);
}

/** Footer */
footer {
    width: 100%;
    background-color: var(--moonBlack);
    color: var(--moonWhite);
}

#footerContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 150px 50px 30px;
}

#footerContent h2 {
    font-size: var(--moonFontSize2);
    color: var(--moonWhite);
    margin-bottom: 10px;
}

#footerContent h3 {
    font-size: var(--moonFontSize3);
    color: var(--moonWhite);
}

#footerServices {
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
}

#footerCareers {
    grid-column: 3;
    grid-row: 2;
    margin: 0 auto;
}

#footerAbout {
    grid-column: 4;
    grid-row: 2;
    margin: 0 auto;
}

#footerSocials {
    grid-column: 3;
    grid-row: 3;
    margin: 0 auto;
    display: flex;
}

#footerSocials > img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

#insta {
    content: url(../img/insta.svg);
}

#twitter {
    content: url(../img/twitter.svg);
}

#linkedin {
    content: url(../img/linkedin.svg);
}

#footerRights {
    grid-column: 3;
    grid-row: 4;
    margin: 10px auto 0 auto;
}
