/** Container */
#container {
    width: var(--moonWidth1);
    margin: 150px auto;
    height: 100%;
}

#hero {
    margin: 50px 0;
    background-image: url('../img/hero2.jpg');
    height: 500px;
    padding: 50px;
    background-size: 100%;
    background-position: center;
}

#hero > h1 {
    font-size: var(--moonFontSize1);
    color: var(--moonOrange);
    text-shadow: -1px -1px 0 var(--moonBlack), 1px -1px 0 var(--moonBlack),
        -1px 1px 0 var(--moonBlack), 1px 1px 0 var(--moonBlack),
        0 0 3px var(--moonBlack);
    font-weight: 900;
}

/** Recommanded Section */

#new {
    margin-bottom: 20px;
}

#new > h1 {
    font-size: var(--moonFontSize1);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#new > h1 > span {
    font-weight: 900;
    color: var(--moonRed);
}

#cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: scroll; */
}

#prevArrow,
#nextArrow {
    font-size: 3.5rem;
    color: var(--moonBlack);
}

.card {
    background-color: var(--moonWhite);
    height: 250px;
    width: 200px;
}

.card .cardTextBox {
    font-size: var(--moonFontSize2);
    background-color: var(--moonBrown);
    color: var(--moonWhite);
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardTextBox > h2 {
    display: inline;
}

.card img {
    height: 200px;
    width: 200px;
}

.card:nth-child(2n) img {
    content: url('../img/products/chiar1.jpg');
}
.card:nth-child(2n + 1) img {
    content: url('../img/products/chiar2.jpg');
}

/** Inspiration */

#inspirationContainer {
    height: 700px;
    background-color: var(--moonBrown);
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr 3fr;
    gap: 20px;
    padding: 20px;
}

#inspirationTextBox {
    grid-column: 1;
    grid-row: 1;
}

#inspirationTextBox > h1 {
    font-size: var(--moonFontSize1);
    color: var(--moonWhite);
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 20px;
}

#inspirationTextBox > p {
    font-size: --size3;
    margin-bottom: 20px;
}

#inspirationTextBox button {
    width: 100px;
    height: 3rem;
    background-color: var(--moonWhite);
    color: var(--moonBrown);
    font-size: var(--moonFontSize3);
    border: 0;
    font-weight: 600;
}

#inspirationTextBox button:hover {
    background-color: var(--moonBrown);
    color: var(--moonWhite);
    border: 1px var(--moonWhite) solid;
}

#inspirationContainer > #img1 {
    content: url('../img/inspiration1.jpg');
    grid-column: 2;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: aqua;
}
#inspirationContainer > #img2 {
    content: url('../img/inspiration2.jpg');
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: hotpink;
}
